.brands_wrapper .owl-carousel {
	padding-left: 60px;
	padding-right: 60px;
}
.brands_wrapper .owl-nav {
	margin: 0;
}
.brands_wrapper .owl-nav button {
	position: absolute;
	top: 0;
	bottom: 0;
	margin: auto;
}

.brands_wrapper .owl-nav button span {
	font-size: 0;
	display: block;
	width: 50px;
	height: 50px;
	background-size: 20px;
	border: 1px solid;
	border-radius: 50%;
	background-repeat: no-repeat;
	background-position: center;
}

.brands_wrapper .owl-carousel .owl-nav button.owl-prev {
	left: 0;
}
.brands_wrapper .owl-carousel .owl-nav button.owl-next {
	right: 0;
}