.promo-list {
	border-left: 1px solid #e2e2e2;
	display: flex;
	flex-direction: row;
	-ms-flex-wrap: wrap;
	flex-wrap: wrap;
}
.promo-list .promo-list-container {
	width: 33.3%;
	max-width: 33.3%;
	position: relative;
	flex-flow: row wrap;
	-webkit-box-flex: 1;
	-ms-flex: 1 1 auto;
	flex: 1 1 auto;
	border: 1px solid #e2e2e2;
	border-left: 0;
	margin-top: -1px;
}
.promo-list-block {
	padding: 15px;
	text-align: center;
}
.promo-more-link {
	color: #80b366;
    font-size: 14px;
}


@media (min-width: 769px) and (max-width: 1024px) {
	.promo-list .promo-list-container {
		width: 50%;
		max-width: 50%;
	}
}
@media (max-width: 768px) {
	.promo-list .promo-list-container {
		width: 100%;
		max-width: 100%;
	}
}
/* POST FORMATS */
.promo-list-img,
.promo-list-audio,
.promo-list-youtube,
.promo-list-slider {
	position: relative;
	width: 100%;
	overflow: hidden;
	-webkit-transition: all .3s ease-out;
	transition: all .3s ease-out;
	height: 200px;
	line-height: 200px;
	text-align: center;
	display: block;
	margin-bottom: 20px;
}
.promo-list-slider img,
.promo-list-img img {
	width: auto;
	height: auto;
	max-width: 100%;
	max-height: 150px;
	display: inline-block;
	vertical-align: middle;
	line-height: 1;
}
.promo-list-video {
	display: block;
	position: absolute;
	top: 0;
	right: 0;
	left: 0;
	bottom: 0;
	opacity: 0.7;
	z-index: 1;
	-webkit-transition: opacity .3s ease;
	   -moz-transition: opacity .3s ease;
	    -ms-transition: opacity .3s ease;
	     -o-transition: opacity .3s ease;
	        transition: opacity .3s ease;
	background: url("images/bx-video.png") no-repeat center;
}
.promo-list-video:hover {
	opacity: 1;
}
/* POST FORMATS /// SLIDER */
.promo-list-slider {
	width: 100%;
	height: 0;
	padding-bottom: 56.25%;
	overflow: hidden;
}
.promo-list-slider-container {
	position: absolute;
	left: 0;
	top: 0;
	bottom: 0;
}
.promo-list-slider-slide {
	float: left;
	z-index: 100;
}
.promo-list-slider-arrow-container-left,
.promo-list-slider-arrow-container-right {
	position: absolute;
	top: 0;
	bottom: 0;
	width: 15%;
	cursor: pointer;
}
.promo-list-slider-arrow-container-left {
	left: 0;
}
.promo-list-slider-arrow-container-right {
	right: 0;
}
.promo-list-slider-arrow {
	position: absolute;
	line-height: 34px;
	vertical-align: middle;
	color: #fff;
	cursor: pointer;
	font-size: 48px;
	height: 48px;
	width: 20px;
	top: 50%;
	margin-top: -24px;
	z-index: 110;
	opacity: .5;
	text-shadow:0 0 2px rgba(0,0,0,.5);
}
.promo-list-slider-arrow-container-left:hover .promo-list-slider-arrow,
.promo-list-slider-arrow-container-right:hover .promo-list-slider-arrow {
	color: #FFF;
	display: block;
	opacity: 1;
}
.promo-list-slider-arrow-container-left .promo-list-slider-arrow {
	left: 20px;
}
.promo-list-slider-arrow-container-right .promo-list-slider-arrow {
	right: 20px;
}
.promo-list-slider-control {
	margin: 0;
	padding: 0;
	position: absolute;
	width: 100%;
	bottom: 10px;
	z-index: 110;
	text-align: center;
	word-spacing: -4px;
}
.promo-list-slider-control li {
	display: inline-block;
	border-radius: 50%;
	background: #fff;
	width: 10px;
	height: 10px;
	word-spacing: -4px;
	margin: 0 3px;
	opacity: .5;
}
.promo-list-slider-control li:hover,
.promo-list-slider-control li.current {
	background: #FFF;
	opacity: 1;
}
promo-list-slider-arrow,
.promo-list-slider-control li {
	-webkit-transition: opacity .3s ease;
	   -moz-transition: opacity .3s ease;
	    -ms-transition: opacity .3s ease;
	     -o-transition: opacity .3s ease;
	        transition: opacity .3s ease;
}
.promo-list-title,
.promo-list-title a {
	color: #000;
	margin: 0;
	font-weight: 600;
	padding: 2px 0 15px;
	font-size: 18px;
}
.promo-list-title a:hover {
	text-decoration: none;
	border-bottom-color: transparent;
}
.bx-lg .promo-list-title {
	font-size: 24pt;
}
.bx-md .promo-list-title {
	font-size: 20pt;
}
.bx-xs .promo-list-title {
	font-size: 18pt;
}
.promo-list-view,
.promo-list-date,
.promo-list-comments,
.promo-list-author,
.promo-list-other {
	color: #a4a4a4;
	font-size: 13px;
	padding-bottom: 5px;
	white-space: nowrap;
}
.promo-list-view i.fa,
.promo-list-date i.fa,
.promo-list-comments i.fa,
.promo-list-author i.fa,
.promo-list-tags i.fa,
.promo-list-other i.fa {
	width: 13px;
	color: #b4b4b4;
}
.promo-list-tags {
	color: #a4a4a4;
	font-size: 13px;
	padding-bottom: 5px;
}
.promo-list-content {
	font-size: 14px;
	margin-bottom: 5px;
}
.promo-list-more {
	margin-top: 5px;
	margin-bottom: 5px;
}
