.promo-detail {
	margin-bottom: 50px;
}
.promo-detail-block {
	font-size: 14px;
	width: 100%;
	margin-bottom: 50px;
	line-height: 1.5;
}
@media (min-width: 992px) {
	.promo-detail .promo-detail-container:nth-child(3n+1) {
		clear: both;
	}
}
@media (min-width: 768px) and (max-width: 991px) {
	.promo-detail .promo-detail-container:nth-child(2n+1) {
		clear: both;
	}
}
/* POST FORMATS */
.promo-detail-img,
.promo-detail-audio,
.promo-detail-youtube,
.promo-detail-slider {
	position: relative;
	margin-bottom: 20px;
}
.promo-detail-slider img,
.promo-detail-img img {
	width: auto;
	max-width: 100%;
	height: auto;
	max-height: 100%;
}
.promo-detail-video {
	display: block;
	position: absolute;
	top: 0;
	right: 0;
	left: 0;
	bottom: 0;
	opacity: 0.7;
	z-index: 1;
	-webkit-transition: opacity .3s ease;
	   -moz-transition: opacity .3s ease;
	    -ms-transition: opacity .3s ease;
	     -o-transition: opacity .3s ease;
	        transition: opacity .3s ease;
	background: url("images/bx-video.png") no-repeat center;
}
.promo-detail-video:hover {
	opacity: 1;
}
/* POST FORMATS /// SLIDER */
.promo-detail-slider {
	width: 100%;
	height: 0;
	padding-bottom: 56.25%;
	overflow: hidden;
}
.promo-detail-slider-container {
	position: absolute;
	left: 0;
	top: 0;
	bottom: 0;
}
.promo-detail-slider-slide {
	float: left;
	z-index: 100;
}
.promo-detail-slider-arrow-container-left,
.promo-detail-slider-arrow-container-right {
	position: absolute;
	top: 0;
	bottom: 0;
	width: 15%;
	cursor: pointer;
}
.promo-detail-slider-arrow-container-left {
	left: 0;
}
.promo-detail-slider-arrow-container-right {
	right: 0;
}
.promo-detail-slider-arrow {
	position: absolute;
	line-height: 34px;
	vertical-align: middle;
	color: #fff;
	cursor: pointer;
	font-size: 48px;
	height: 48px;
	width: 20px;
	top: 50%;
	margin-top: -24px;
	z-index: 110;
	opacity: .5;
	text-shadow:0 0 2px rgba(0,0,0,.5);
}
.promo-detail-slider-arrow-container-left:hover .promo-detail-slider-arrow,
.promo-detail-slider-arrow-container-right:hover .promo-detail-slider-arrow {
	color: #FFF;
	display: block;
	opacity: 1;
}
.promo-detail-slider-arrow-container-left .promo-detail-slider-arrow {
	left: 20px;
}
.promo-detail-slider-arrow-container-right .promo-detail-slider-arrow {
	right: 20px;
}
.promo-detail-slider-control {
	margin: 0;
	padding: 0;
	position: absolute;
	width: 100%;
	bottom: 10px;
	z-index: 110;
	text-align: center;
	word-spacing: -4px;
}
.promo-detail-slider-control li {
	display: inline-block;
	border-radius: 50%;
	background: #fff;
	width: 10px;
	height: 10px;
	word-spacing: -4px;
	margin: 0 3px;
	opacity: .5;
}
.promo-detail-slider-control li:hover,
.promo-detail-slider-control li.current {
	background: #FFF;
	opacity: 1;
}
.promo-detail-slider-arrow,
.promo-detail-slider-control li {
	-webkit-transition: opacity .3s ease;
	   -moz-transition: opacity .3s ease;
	    -ms-transition: opacity .3s ease;
	     -o-transition: opacity .3s ease;
	        transition: opacity .3s ease;
}
/* /// */
.promo-detail-title,
.promo-detail-title a {
	color: #000;
	margin: 0;
	font-weight: 600;
	padding: 2px 0 15px;
	font-size: 18px;
	border-bottom: none;
	font-family: "Open Sans", Arial, "Helvetica Neue", Helvetica, sans-serif;
}
.promo-detail-title a:hover {
	text-decoration: none;
	border-bottom-color: transparent;
}
.bx-lg .promo-detail-title {
	font-size: 24pt;
}
.bx-md .promo-detail-title {
	font-size: 20pt;
}
.bx-xs .promo-detail-title {
	font-size: 18pt;
}
.promo-detail-separator,
.promo-detail-view,
.promo-detail-date,
.promo-detail-comments,
.promo-detail-author,
.promo-detail-other {
	color: #a4a4a4;
	font-size: 13px;
	padding-bottom: 5px;
	white-space: nowrap;
}
.promo-detail-rating,
.promo-detail-separator,
.promo-detail-date{
	display: inline-block;
}
.promo-detail-separator {
	margin: 0 10px;
}
.promo-detail-view i.fa,
.promo-detail-date i.fa,
.promo-detail-comments i.fa,
.promo-detail-author i.fa,
.promo-detail-tags i.fa,
.promo-detail-other i.fa {
	width: 13px;
	color: #b4b4b4;
}
.promo-detail-tags {
	color: #a4a4a4;
	font-size: 13px;
	padding-bottom: 5px;
}
.promo-detail-content {
	font-size: 14px;
	margin-bottom: 5px;
}
