.brand-menu {
    padding-top: 15px;
    padding-left: 17px;
    font-size: 14px;
}
.brand-menu .title {
    font-weight: bold;
}
.brand-menu .all_brands {
    text-transform: uppercase;
    padding-right: 10px;
}
.brand-menu .letter-item {
    padding-right: 10px;
    padding-left: 10px;
}
.brand-menu .letters, .brand-menu .letter-item, .brand-menu .letters-list {
    position: static;
}
.brand-menu .letter-link:hover, .brand-menu .all_brands:hover a,
.brand-menu .letter-item:hover .letter-link, .brand-menu .all_brands:hover a {
    color: inherit;
    font-weight: bold;
}
.brand-menu .brand-tab {
    top: 100%;
    padding-top: 15px;
}
.brand-menu .brand-tab .brand-tab-wrp {
    width: 100%;
    max-height: 35vh;
    height: 100%;
}
.brand-menu .brand-tab .wrapper-inner {
    height:auto;
    padding-right: 40px;
    padding-left: 50px;
    padding-top: 40px;
    margin-bottom: 40px;
}
.brand-menu .brand-tab .show_all .wrapper-inner {
    padding-left: 40px;
}
.brand-menu .brand-item-letter {
    font-weight: bold;
    font-size: 24px;
    margin-bottom: 5px;
}
.brand-menu .brand-tab-list-wrapper, .brand-menu .show_one .brand-item {
    min-width: 250px;
    overflow: hidden;
    padding: 0 15px;
    margin-bottom: 10px;
    height: auto;
    display: inline-block;
    vertical-align: top;
}
.brand-menu .show_one .brand-item {
    min-width: 230px;
    display: block;
}
.brand-menu .letter-item:hover .brand-tab {
    z-index: 999;
    opacity: 1;
    visibility: visible;
}
.brand-menu .brand-tab-list {
    width: 100%;
    height: 100%;
    -webkit-columns: 4;
    -moz-columns: 4;
    columns: 4;
}
.brand-menu .brand-item {
    margin-bottom: 10px;
}
.brand-menu .brand-letter-big {
    font-size: 64px;
    font-weight: bold;
}
.brand-menu .brand-letter-big span {
    margin-top: -20px;
    display: block;
}
.brand-menu .brand-item-link.highlight{
    font-weight: bold;
}