.main_banner_slider .slick-dots li button:after, .owl-carousel button.owl-dot span {
	content: '';
	display: block;
	width: 5px;
	height: 5px;
	border-radius: 50%;
	position: absolute;
	left: 0;
	bottom: 0;
	right: 0;
	top: 0;
	margin: auto;
}

.owl-carousel button.owl-dot.active  {
	border-color: #6c7567;
}
.main_banner_slider .slick-dots li.slick-active button {
	border-color: #000;
}
.main_banner_slider .slick-dots li button:after {
	background: #000;
}
.owl-carousel button.owl-dot span {
	background: #6c7567;
}

.main_banner {
	display: block;
	position: relative;
	max-width: 1920px;
	margin: auto;
	height: 425px;
	overflow: hidden
}

.main_banner picture {
	height: 425px;
	position: relative;
	display: block;
	overflow: hidden
}

.main_banner picture img {
	max-width: none;
	width: 1920px;
	height: 425px;
	position: absolute;
	object-fit: contain;
	top: 0;
	left: 50%;
	display: block !important;
	margin: 0 0 0 -960px;
}



.main_banner .banner_image_wrapper div {
	display: block;
	width: 100%;
	height: 100%;
	position: absolute;
	top: 0;
	left: 0;
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
}

.main_banner_slider ul.slick-dots {
	position: absolute;
	right: 50px;
	top: 0;
	bottom: 0;
	z-index: 50;
	text-align: center;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

/*NEW-------------------*/


@media all and (max-width: 1680px) {
	.main_banner picture img {
		width: 1680px;
		height: 370px;
		margin: 0 0 0 -840px;
	}
	.main_banner picture, .main_banner {
		height: 370px;
	}
}

@media all and (max-width: 1440px) {
	.main_banner picture img {
		width: 1440px;
		height: 317px;
		margin: 0 0 0 -720px;
	}
	.main_banner picture, .main_banner {
		height: 317px;
	}
}

@media all and (max-width: 1280px) {
	.main_banner picture img {
		width: 1280px;
		height: 282px;
		margin: 0 0 0 -640px;
	}
	.main_banner picture, .main_banner {
		height: 282px;
	}
}

@media all and (max-width: 1140px) {
	.main_banner picture img {
		width: 1140px;
		margin: 0 0 0 -570px;
	}
	.main_banner picture, .main_banner, .main_banner picture img {
		height: 251px;
	}
}

@media all and (max-width: 1024px) {
	.main_banner picture img {
		width: 1024px;
		height: 225px;
		margin: 0 0 0 -512px;
	}
	.main_banner picture {
		height: 225px;
	}
	.main_banner {
		height: 265px;
		padding-bottom: 40px;
	}
	.main_banner_slider ul.slick-dots {
		top: auto;
		bottom: 0;
		flex-direction: row;
		right: 0;
		left: 0;
	}
	.main_banner_slider ul.slick-dots li {
		margin: 0 5px;
	}
}

@media all and (max-width: 768px) {
	.main_banner picture img {
		width: 768px;
		height: 360px;
		margin: 0 0 0 -384px;
	}
	.main_banner picture {
		height: 360px;
	}
	.main_banner {
		height: 400px;
	}
}

@media all and (max-width: 728px) {
	.main_banner picture img {
		width: 728px;
		height: 341px;
		margin: 0 0 0 -364px;
	}
	.main_banner picture {
		height: 341px;
	}
	.main_banner {
		height: 381px;
	}
}
@media all and (max-width: 688px) {
	.main_banner picture img {
		width: 688px;
		margin: 0 0 0 -344px;
	}
	.main_banner picture, .main_banner picture img {
		height: 323px;
	}
	.main_banner {
		height: 363px;
	}
}

@media all and (max-width: 640px) {
	.main_banner picture img {
		width: 640px;
		height: 300px;
		margin: 0 0 0 -320px;
	}
	.main_banner picture {
		height: 300px;
	}
	.main_banner {
		height: 340px;
	}
}
@media all and (max-width: 600px) {
	.main_banner picture img {
		width: 600px;
		margin: 0 0 0 -300px;
	}
	.main_banner picture, .main_banner picture img {
		height: 281px;
	}
	.main_banner {
		height: 321px;
	}
}
@media all and (max-width: 560px) {
	.main_banner picture img {
		width: 560px;
		height: 263px;
		margin: 0 0 0 -280px;
	}
	.main_banner picture {
		height: 263px;
	}
	.main_banner {
		height: 303px;
	}
}
@media all and (max-width: 520px) {
	.main_banner picture img {
		width: 520px;
		margin: 0 0 0 -260px;
	}
	.main_banner picture, .main_banner picture img {
		height: 244px;
	}
	.main_banner {
		height: 284px;
	}
}
@media all and (max-width: 480px) {
	.main_banner picture img {
		width: 480px;
		height: 225px;
		margin: 0 0 0 -240px;
	}
	.main_banner picture {
		height: 225px;
	}
	.main_banner {
		height: 265px;
	}
}
@media all and (max-width: 440px) {
	.main_banner picture img {
		width: 440px;
		margin: 0 0 0 -220px;
	}
	.main_banner picture, .main_banner picture img {
		height: 206px;
	}
	.main_banner {
		height: 246px;
	}
}
@media all and (max-width: 400px) {
	.main_banner picture img {
		width: 400px;
		height: 188px;
		margin: 0 0 0 -200px;
	}
	.main_banner picture {
		height: 188px;
	}
	.main_banner {
		height: 228px;
	}
}
@media all and (max-width: 360px) {
	.main_banner picture img {
		width: 360px;
		margin: 0 0 0 -180px;
	}
	.main_banner picture, .main_banner picture img {
		height: 169px;
	}
	.main_banner {
		height: 209px;
	}
}
@media all and (max-width: 320px) {
	.main_banner picture img {
		width: 320px;
		height: 150px;
		margin: 0 0 0 -160px;
	}
	.main_banner picture {
		height: 150px;
	}
	.main_banner {
		height: 190px;
	}
}