.stores-address-list h2 {
	margin-bottom: 20px;
}

.catalog-stores-item-title-link {
	font-weight: bold;
}
.catalog-stores-item-address {
	font-size: 14px;
}

.catalog-stores-item-image {
	max-width: 100%;
	height: auto;
}

@media (max-width: 767px) {
	.catalog-stores-item-info {
		min-width: 0 !important;
		max-width: 100% !important;
		width: 100%;
		border-left: none;
	}
}

.catalog-stores-item-info, .catalog-stores-item-schedule {
	font-size: 14px;
}
