.catalog-section-list-item {
	padding-top: 20px;
	padding-bottom: 20px;
	position: relative;
}

.catalog-section-list-item-title {
	overflow: hidden;
	margin: 0;
	vertical-align: middle;
	text-align: center;
	font-size: 14px;
	padding: 28px;
}

.catalog-section-list-item-link {
	vertical-align: middle;
	font-size: 14px;
	line-height: 20px;
}

.catalog-section-list-item-counter {
	vertical-align: middle;
	font-size: 12px;
	line-height: 20px;
}

.catalog-section-list-item-description { font-size: 13px; }

.catalog-section-list-item-img {
	display: block;
	width: 100%;
	height: 100%;
	position: absolute;
	background-position: center;
	background-size: cover;
	background-repeat: no-repeat;
	transition: 250ms linear all;
	top: 0;
	left: 0;
}

.catalog-section-list-item-img:hover { border-color: var(--theme-color-primary); }

/* region Line */
.catalog-section-list-line-list {
	padding: 0;
	list-style: none;
}

.catalog-section-list-line-list .catalog-section-list-item {
	display: flex;
	margin-bottom: 15px;
	align-items: flex-start;
}

.catalog-section-list-line-list .catalog-section-list-item-title { text-align: left; }

.catalog-section-list-line-img-container {
	padding-right: 15px;
	min-width: 75px;
	width: 75px;
}

.catalog-section-list-line-list .catalog-section-list-titles {
	margin: 0;
	line-height: 20px;
}

/*endregion*/

/*region Text */
.catalog-section-list-text-list {
	padding: 0;
	list-style: none;
	column-count: 3;
}

.catalog-section-list-text-list .catalog-section-list-item-title { text-align: left; }

@media (max-width: 767px) {
	.catalog-section-list-text-list { column-count: 1; }
}

/*endregion*/

/*region Tile */

.catalog-section-list-tile-list {
	padding: 0;
	list-style: none;
}

.catalog-section-list-tile-img-container { width: 100%; }

/*endregion*/

/* list */

.catalog-section-list-list { margin-bottom: 30px; }

.catalog-section-list-list .catalog-section-list-item {
	padding: 0;
	line-height: 16px;
}

.catalog-section-list-list .catalog-section-list-item:before { content: '' !important }

.catalog-section-list-list-title {
	display: inline-block;
	margin: 0;
	margin-bottom: 10px;
	padding: 0;
	vertical-align: top;
	font-weight: normal;
	font-size: 12px;
	line-height: 16px;
}

.catalog-section-list-list-link {
	white-space: nowrap;
	font-size: 13px;
}

.catalog-section-list-list-link:hover { text-decoration: none }

.catalog-section-list-list-title span { font-size: 11px; }

@media (max-width: 639px) {
	.bx-touch .catalog-section-list-list .bx_catalog_line_title {
		margin-bottom: 5px;
		line-height: 12px;
	}

	.bx-touch .catalog-section-list-list .bx_catalog_line_title a { font-size: 12px; }
}

.catalog-section-list-list-title,
.catalog-section-list-list-link { transition: all 0.3s ease; }