.select_text {
    background-color: #f6f6f6;
    padding: 20px 20px 20px 25px;
    position: relative;
    margin: 15px 0;
}
.select_text:before {
    content: " ";
    display: block;
    width: 4px;
    background-color: #cacaca;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
}
.select_text_green {
    background-color: #f9dde9;
    padding: 20px 20px 20px 25px;
    position: relative;
    margin: 15px 0;
}
.select_text_green:before {
    content: " ";
    display: block;
    width: 4px;
    background-color: #eb90b5;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
}
.static_page ol {
    counter-reset:myCounter;
    margin-left:0;
    padding-left:5px;
    color: rgb(100,100,100);
}

.static_page ul, ul.line {
    line-height: 2;
}

.static_page li, ul.line li {
    margin-bottom: 15px;
    position: relative;
    padding-left: 50px;
}
.static_page ul li:before, ul.line li:before {
    content: '';
    display: block;
    position: absolute;
    left: 0;
    top: 15px;
    width: 30px;
    height: 3px;
    background-color: #eb90b5;
}
.footer-item-copy{
    margin-top: 50px;
}
.footer-item-copy-item a,
.footer-item-copy-item span{
    display: inline-block;
    vertical-align: middle;
    font-size: 14px;
    color: #000;
    -webkit-transition: color .2s ease-out;
    transition: color .2s ease-out;
}
.modal-form-bitrix24{
    display: none;
    position: fixed;
    top:0;
    left: 0;
    width: 100%;
    background-color:  rgba(0,0,0,0.4);
    height: 100%;
    z-index: 100000;
}
.modal-form-bitrix24.open{
    display: block;
}
.modal-form-bitrix24-content{
    width: 40%;
    margin: auto;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    height: 512px;
}
.modal-form-bitrix24-close{
    position: absolute;
    right: 10px;
    top: 10px;
    background-image: url(http://webkrayt.ru/close.svg);
    width: 20px;
    height: 20px;
    background-position: center;
    background-size: 20px;

}
/*select*/
.wrap-drop {
	border: 1px solid #000;
	cursor:pointer;
	padding: 3px 24px 3px 8px;
	position:relative;
	display: inline-block;
	min-width: 225px;
	font-size: 12px;
	height: 30px;
	z-index:3;
	margin: 13px 0;
}
#card-select>span{
	display: flex;
    align-items: center;
    height: 100%;
}
.wrap-drop::after {
	border-color:#000 transparent;
	border-style:solid;
	border-width:7px 7px 0;
	content:"";
	height:0;
	margin-top:-4px;
	position:absolute;
	right: 6px;
	top:50%;
	width:0;
}

.wrap-drop.active::after {
	border-width:0 7px 7px;
}

.wrap-drop .product-item-scu-item-list {
	display:none;
	border: 1px solid #000;
	left: -1px;
	list-style:none;
	margin-top:0;
	opacity:0;
	padding-left:0;
	pointer-events:none;
	position:absolute;
	right: -1px;
	top:100%;
	padding: 0;
	z-index:2;
}
#card-select .product-item-scu-item-list::-webkit-scrollbar {
  width: 3px;              
}
#card-select .product-item-scu-item-list::-webkit-scrollbar-thumb {
  background-color: #000;    /* color of the scroll thumb */
  border-radius: 0px;       /* roundness of the scroll thumb */
  border: 2px solid #000;  /* creates padding around scroll thumb */
}
#card-select .product-item-scu-item-list::-webkit-scrollbar-track {
  background: #f4f3f5;        /* color of the tracking area */
}
.wrap-drop .product-item-scu-item-list li{
	height: 30px;
}
.wrap-drop .product-item-scu-item-text-block{
	outline: none;
	display: flex;
	align-items: center;
	height: 30px;
}
.wrap-drop .product-item-scu-item-list .selected{
	background-color: #f4f3f5;
}
.wrap-drop span .product-item-scu-item-text-block{
	padding: 0;
}
.wrap-drop .product-item-scu-item-text-block img{
	max-width: 30px;
	margin-right: 5px;
	max-height: 24px;
	object-fit: contain;
}
.wrap-drop .product-item-scu-item-article{
	margin-right: 5px;
	min-width: max-content;
}
.wrap-drop .product-item-scu-item-text{
	text-align: left;
}

.wrap-drop.active .product-item-scu-item-list {
	display:block;
	opacity:1;
	padding: 0px;
	pointer-events:auto;
	max-height: 302px;
    background: #fff;
    overflow-y: auto;
}
/*select*/