span.mf-error {
    display: block;
    font-size: 12px;
    color: red;
}

.message-form__widget.red-brd input, .message-form__widget.red-brd textarea {
    border-color: red;
}

.mf-ok-text {
    color: #80b366;
    font-weight: bold;
    background-color: rgba(128, 179, 102, .2);
    border: 1px solid #80b366;
    padding: 15px;
    margin: 20px auto 0;
    text-align: center;
}

.ajax-preloader-wrap {
    height: 100%;
    position: absolute;
    width: calc(100% - 20px);
    background-color: rgba(255, 255, 255, .7);
}
.ajax-preloader {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #80b366;
}
.message-form .fa-spinner {
    color: #eb90b5;
}